.imgBanner{
    width: 100px;
}
/*Ocultar Section de servicios que incluye los tools utilizados*/
@media screen and (max-width: 480px) {
    .tools {background-color: red !important; display: none;}

  }

  .navSocialMedia {
    justify-content: center;
  }

  .header-height-bar{
    margin-bottom: 30px;
  }

  .inptInformacion{justify-content: space-between;}